/*
* ================================= GLOBAL =================================
*/
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font: normal 16px 'Kalam', cursive;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a{
    text-decoration:  none;
}

/*
* ================================= LAYOUT =================================
*/
/* HEADER  */
.page-header {
    position: fixed;
    z-index: 2;
    height: 64px;
    width: 100%;
    padding-right: 200px;
    /*background-color: #2196F3;*/
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
}

/* HEADER NAVBAR  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 310px;
}

/* HEADER LOGO  */
.navbar .logo{
    background-image: url(../logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 24px;
    width: 24px;
}

.profilepic{
    content: url(../stock_profile.jpg);
}

.mainprofilepic{
    content: url(../profile.jpg);
}


/* MAIN CONTAINER */
.container,
.content {
    display: flex;
    flex: 1 0 auto;
}

.container{
    padding-top: 64px;
}

.content{
    flex-direction: column;
    align-items: center;
    background: linear-gradient(217deg, orange, cyan);
    background-size: 400% 400%;

    -webkit-animation: FaceBootAnim 5s ease infinite;
    -moz-animation: FaceBootAnim 5s ease infinite;
    animation: FaceBootAnim 5s ease infinite;
}


/*
* ================================= COMPONENTS =================================
*/
/* */

/*
* ———— HORIZONTAL NAVEGATION COMPONENT ————
*/
.nav-h{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-h > li{
    display: inline-block;
}



/*
* ———— PROFILE COMPONENT ————
*/
.profile{
    display: flex;
    align-items: center;
}

.profile img{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    vertical-align: inherit;
}

.profile--lg img{
    width: 40px;
    height: 40px;
}

.profile--hover-ul:hover span{
    text-decoration: underline;
}

.profile--hover-bg:hover {
    background: rgba(0, 0, 0, .1);
}


/*
* ———— TIMESTAMP COMPONENT ————
*/
.timestamp{
    color: #9e9e9e;
    font-size: 0.8rem;
}


/*
* ———— BUTTON WITH COUNTER COMPONENT ————
*/
.btn{
    padding: 8px 10px;
    margin: 0 6px;
    font-weight: bold;
    color: #676767;
}

.btn:hover{
    background: rgba(0, 0, 0, .1);
}

.btn-primary{
    color: #4285f4;
}

/* BUTTON ICONS - heart, comment...*/
.btn-icon{
    width: 36px;
    height: 36px;
    background: #eeeeee;
    color: #757575;
    line-height: 39px;
    text-align: center;
    border-radius: 50%;
    margin-right: 6px;
}

.btn-icon:hover{
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.26);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.26);
}


/* BUTTON MODIFIERS */
.btn--active,
.btn--hover-red:hover{
    color: #DB4437;
}


/*
* ———— POST COMPONENT ————
*/
.post{
    background: #fff;
    border-radius: 2px;
    display: block;
    margin: 1rem;
    position: relative;
    width: 530px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-bottom: 30px;
    padding-top: 5px;
}

.post:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* POST - HEADER*/
.post__header{
    margin: 16px;
}


.post__content,
.post__footer,
.post__c
{
    /*margin: 0 16px 16px;*/
    margin: 16px;
}


/* POST - FOOTER */
.post__footer{
    display: flex;
    justify-content: space-between;
}


/* POST - COMMENTS */
.comments{
    padding-bottom: 10px;
    max-height: 200px;
    overflow-y: auto;
}

/*
* ———— POST INPUT COMPONENT ————
*/

.p-input {
    border-top: 1px solid #ebebeb;
    min-height: 60px;
    margin-top: 16px;
    padding-top: 16px;
}

.p-input__ta{
    background: transparent;
    border: 0;
    font-size: 0.8rem;
    line-height: 1.2rem;
    height: 100%;
    min-height: 2rem;
    max-height: 5rem;
    outline: none;
    padding: 0;
    resize: none;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
}

.p-input__ta:hover{
    cursor: text;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #9e9e9e;
}



/* RIGHT ASIDE*/
.aside{
    width: 100px;
    background: orange;
}

.footer{
    width: 100%;
    height: 64px;
    background: cyan;
}


/*
* ================================= GLOBAL =================================
*/
/* */
.flex{
    display: flex;
    align-items: center;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    padding-right: 8px;
}

.margin-16{
    margin: 16px;
}

.margin-8-top{
    margin-top: 8px;
}

.margin-8-v{
    margin-top: 8px;
    margin-bottom: 8px;
}

.top-divider{
    padding-top: 16px;
    border-top: 1px solid #ebebeb;
}


.text-sm,
.text-md,
.text-lg{
    word-wrap: break-word;
}

.text-sm{
    font-size: 0.6rem;
    line-height: 1rem;
}

.text-md{
    font-size: 0.8rem;
    line-height: 1.2rem;
}


.f-right{
    float: right;
}

.hidden{
    display: none;
}



::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: slategray;
}

::-webkit-scrollbar-track {
    background: #b8c0c8;
}

body {
    scrollbar-face-color: slategray;
    scrollbar-track-color: #b8c0c8;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .navbar {
        margin: 0;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
 
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   .navbar {
        margin: 0 110px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .navbar {
        margin: 0 210px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
 .navbar {
        margin: 0 310px;
    }
}


@-webkit-keyframes FaceBootAnim {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes FaceBootAnim {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes FaceBootAnim { 
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}